<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferplatz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/index.css') }}">

</head>
<body>
    <div class="mainarea">
        <img src="{{ url_for('static', filename='images/lieferspatz.png') }}" alt="Photo" class="photo">
        <div class="text">
            {% if is_logged_in %}
                {% if is_restaurant %}
                    Willkommen zurück! 🎉 Du bist eingeloggt und kannst jetzt dein Restaurant über das Dashboard verwalten.
                {% else %}
                    Willkommen zurück! 🌟 Du bist eingeloggt und kannst jetzt nach Restaurants in deiner Nähe suchen.
                {% endif %}
            {% else %}
                Wir freuen uns, dass Du dich für uns entschieden hast.<br>
                Um sofort loszulegen, wähle bitte aus, ob Du einen Kunden Account erstellen möchtest<br>
                oder Dein Restaurant bei Lieferplatz registrieren möchtest.
            {% endif %}
        </div>
        <hr>
        <div class="buttonsarea">

            {% if is_logged_in %}
                {% if is_restaurant %}
                    <button class="button"onclick="window.location.href='/restaurant/dashboard'">Dashboard</button>
                {% else %}
                    <button class="button"onclick="window.location.href='/search'">Suchen</button>
                {% endif %}
            {% else %}
                <div class="inlinebuttons">
                    <button class="button"onclick="window.location.href='/users/login'">als kunde Einloggen</button>
                    <button class="button"onclick="window.location.href='/restaurant/login'">als geschaft Einloggen</button>
                </div>
                <div class="inlinebuttons">
                   <button class="button"onclick="window.location.href='/users/register'">Als Kunde anmelden</button>
                   <button class="button"onclick="window.location.href='/restaurant/register'">Restaurant registrieren</button>   
                </div>
            {% endif %}

        </div>
    </div>
</body>
</html>