<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aktuelle Bestellungen</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/restaurant/orders.css') }}">
</head>
<body>
  <!-- Restaurant Logo -->
  {% include 'components/header.html' %}
  


  <div class="container">
    <!-- Main Heading -->
     {% set heading = 'Aktuelle Bestellungen' %}
     {% set sub_heading = 'Hier können Sie die aktuell eingegangenen Bestellungen einsehen und verwalten.' %}
    {% include 'components/page_info.html' %}
    <!-- Restaurant Card -->
    {% include 'components/restaurant_card.html' %}


    <!-- Example Order -->
    <div id="ordersContainer"></div>

    <div id="errorMessage" class="text-center text-danger" style="display: none; margin-top: 20px;"></div>
  </div>

  <!-- Order Details Overlay -->
  {% set is_active = True %}
  {% include 'components/details_overlay.html' %}

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/restaurant/orders.js') }}"></script>
</body>

<script>
  // Call to fetch restaurant data and order data on page load
  fetchOrderData('status');
</script>
</html>
