body {
    background-color: white;
    color: black;
  }
  
  
  .back-button {
    position: absolute;
    top: 90px;
    left: 30px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
  }
  .back-button:hover {
    color: gray;
  }
  .back-button svg {
    margin-right: 5px;
  }
  .main-heading {
    margin-top: 120px;
    text-align: center;
    font-weight: bold;
  }
  .sub-heading {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }
  .line {
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  .card {
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  .loading-placeholder {
    text-align: center;
    font-size: 18px;
    color: #6c757d;
    margin: 20px 0;
  }

  .btn-danger,
  .btn-success {
    background-color: transparent;
    border: 1px solid;
    color: black;
    padding: 8px 16px;
  }
  .btn-danger:hover {
    background-color: red;
    color: white;
  }
  .btn-success:hover {
    background-color: green;
    color: white;
  }